@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* 전체 선택자(*)를 이용해 CSS Reset을 맨 처음에 작성한다.
기본여백(margin, padding)을 모두 0으로 만들고 백지상태에서 여백을 통제하며 디자인을 시작한다. */
* {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
}

:root {
  --gradient-color-red: linear-gradient(
    90deg,
    hsl(7, 89%, 46%) 15%,
    hsl(11, 93%, 68%) 100%
  );
  --gradient-color-orange: linear-gradient(
    90deg,
    hsl(22, 89%, 46%) 15%,
    hsl(54, 90%, 68%) 100%
  );
  --gradient-color-yellow: linear-gradient(
    90deg,
    hsl(54, 89%, 46%) 15%,
    hsl(92, 90%, 45%) 100%
  );
  --gradient-color-green: linear-gradient(
    90deg,
    hsl(92, 89%, 46%) 15%,
    hsl(92, 90%, 68%) 100%
  );
}

body {
  background: #070707;
  color: #fff;
}

.battery {
  height: 100vh;
  /* 화면 전체 높이의 100% */
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

.Bcard {
  position: relative;
  width: 270px;
  height: 240px;
  background: #222;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.Btext {
  margin-bottom: 0.5rem;
}

.Bpercentage {
  font-size: 2.5rem;
}

.Bstatus {
  position: absolute;
  bottom: 3.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 0.8rem;
}

.Bstatus i {
  font-size: 1.25rem;
}

.Bpill {
  position: relative;
  width: 75px;
  height: 180px;
  background-color: #222;
  box-shadow:
    inset 20px 0 48px hsl(0, 0%, 16%),
    inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 3rem;
  justify-self: flex-start;
}

.Blevel {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
}

.Bliquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-red);
  box-shadow:
    inset -10px 0 12px hsla(0, 0%, 0%, 0.1),
    inset 12px 0 12px hsla(0, 0%, 0%, 0.15);
  transition: 0.3s;
}

/* ::after는 특정 요소의 뒤에 내용이나 스타일을 추가할 때 사용하는 가상요소 */
.Bliquid::after {
  content: "";
  position: absolute;
  height: 8px;
  box-shadow: inset 0 -3px 6px hsla(0, 0%, 0%, 0.2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

.green-color {
  background: var(--gradient-color-green);
}

.animated-green {
  background: var(--gradient-color-green);
  animation: animated-charging 1.2s infinite alternate;
}

.animated-red {
  background: var(--gradient-color-red);
  animation: animated-low 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

.gradient-color-red,
.gradient-color-red::after {
  background: var(--gradient-color-red);
}

.gradient-color-green,
.gradient-color-green::after {
  background: var(--gradient-color-green);
}

.gradient-color-orange,
.gradient-color-orange::after {
  background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
  background: var(--gradient-color-yellow);
}
