/* 시작 전 스타일 초기화하기 */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  /* 배경 사진에 어두운 레이어 만들기, 투명도 조절 */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./netflix-img/images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  /* flex모드로 설정했을 때, 
  flex-direction의 기본값은 row(가로)이다. 
  따라서 메인축이 가로축이다.*/
  display: flex;
  /* 세로축 정렬 결정 */
  align-items: center;
  /* 가로축 정렬 결정 */
  /* 로고와 버튼을 양 끝으로 멀리 떨어뜨리기 */
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: 0;
  /* 버튼 윤곽선이 없도록 지정 */
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  /* 버튼 사이의 간격 만들기 */
  margin-left: 10px;
  cursor: pointer;
}

.language-btn {
  /*  */
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}

.language-btn img {
  width: 10px;
  margin-left: 10px;
}

.header-content {
  /* 부모요소의 relative를 기준으로 배치 */
  /* 요소를 문서 흐름에서 완전히 제외시킴 (붕 떠있는 듯하게) */
  /* 다른 요소들은 마치 이 요소가 없는 것처럼 흐름에 따라 배치됨 */
  position: absolute;

  /* 화면 정중앙에 오도록 하기 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 글자 중앙 정렬하기 */
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  /* 글자 줄 간격 조절하기 */
  line-height: 70px;
  font-weight: 600;
  /* 최대 길이 지정해서 그 이상으로 늘어나지 않도록 */
  max-width: 650px;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.email-signup {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

/* --------------- features --------------- */
.features {
  /* features 클래스의 컨텐트 너비를 padding값으로 결정하기 */
  padding: 50px 12%;
  font-size: 22px;
}

.row {
  /* 기본값: 메인축 = 가로축 */
  display: flex;
  width: 100%;
  align-items: center;
  /* 자식 요소들이 넘치면 다음 줄로 넘길 것인가, 
  아니면 한 줄에 꾸역꾸역 다 밀어 넣을 것인가 를 결정한다*/
  /* wrap = 너비가 모자라면 자식 요소를 다음 줄로 보냅니다 */
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* --------------- faq --------------- */
.faq {
  /* padding값 설정을 통해 자식요소인 .accordion의 너비를 결정 */
  padding: 10px 20%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-weight: 500;
  font-size: 40px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

/* 각 라벨에 + 삽입하기 */
label::after {
  content: "+";
  font-size: 34px;
  /* 만약 absolute로 문서 흐름에서 빼지 않았다면, 
  + 기호는 글자 바로 옆에 찰싹 달라붙어 있거나 
  글자 길이에 따라 위치가 들쭉날쭉 변했을 것 */
  position: absolute;
  /* 오른쪽에서 20px 떨어진 위치 */
  right: 20px;

  /* + 부드럽게 회전시키기 */
  transition: transform 0.5s;
}

/* 라디오 버튼 없애기 */
input[type="radio"] {
  display: none;
}

.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  /* 최대길이 = 0 -> 컨텐츠 숨기기 */
  max-height: 0;
  /* 콘텐츠가 가로 또는 세로 방향으로 요소의 패딩 박스에 맞지 않을 때
  (오버플로우될 때) 원하는 동작을 설정 */
  overflow: hidden;

  /* 클릭 시 컨텐츠가 보일 때 부드럽게 동작하게 하기 */
  transition:
    max-height 0.5s,
    padding 0.5s;
}

/* 라디오 버튼 영역을 클릭하면 컨텐츠가 보이도록 하기 */
.accordion input[type="radio"]:checked + label + .content {
  /* 컨텐츠 보이게 하기 */
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

.faq .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small {
  font-size: 13px;
}

/* --------------- footer --------------- */
.footer {
  /* padding(상하좌우 모두)에서 %는 '부모 요소의 width'를 기준으로 계산된다 */
  /* 화면 크기에 따라 여백을 자동 조절하는 반응형 웹  */
  padding: 50px 15% 10px;
  /* footer의 위에 줄 하나 생성하기 */
  border-top: 6px solid #333;
  color: #777;
}

.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .col {
  /* 아이템이 배정받는 기본적인 최소너비 */
  /* 25% = 부모 너비의 25%만큼 자리 잡고 시작하라는 의미 */
  flex-basis: 25%;
  /* 남는 공간을 누가 얼마나 가져갈지를 결정 */
  /* 1 = 남는 공간을 모든 열이 공평하게 나눠 가진다 */
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .col a {
  /* <div>나 <h1>처럼 행동 
  혼자서 가로 한 줄을 꽉 차지한다 */
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .row {
  /* flex-direction이 row인 상태에서, 수직축의 정렬 시작점을 맨 위로 */
  /* justify-content라면 메인축의 정렬 시작점을 왼쪽으로 지정 */
  align-items: flex-start;
  padding: 10px 0;
}

.footer .language-btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}

.copyright-txt {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* --------------- media-queries-for-small-screen --------------- */
@media only screen and (max-width: 600px) {
  /* 최대 너비가 600px인 작은 화면들을 위한 CSS 속성들을 작성한다 */
  .logo {
    width: 100px;
  }

  nav button {
    padding: 5px 10px;
  }

  /* 우선순위 규칙 때문에 따로 CSS 필요 */
  nav .language-btn {
    padding: 4px 8px;
  }

  .header-content {
    /* 속성: unset; = 이 속성에 설정했던 값을 지우고, 자연스러운 원래 상태로 되돌리겠다 */
    position: unset;
    transform: none;
    padding-top: 150px;
  }

  .header-content h1 {
    font-size: 30px;
  }

  .email-signup button {
    font-size: 12px;
    padding: 10px 15px;
  }

  .text-col,
  .img-col {
    /* full width를 사용하도록 설정한다 */
    /* 레이아웃을 2단에서 위아래로 쌓이는 1단으로 변경한다.  */
    flex-basis: 100%;
  }

  .features h2 {
    font-size: 30px;
  }

  .features p {
    font-size: 15px;
  }

  /* 두번째와 4번째 요소의 사진과 텍스트 순서를 reverse한다 */
  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: column-reverse;
  }

  .features .row {
    padding: 10px 0;
  }

  .faq h2 {
    font-size: 20px;
  }

  .accordion .content {
    font-size: 14px;
  }

  .accordion li label {
    padding: 10px;
    font-size: 14px;
  }

  /* +의 크기 줄이기 */
  label::after {
    font-size: 22px;
  }
}
