* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  position: relative;
  margin: 30px 380px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  /* 요소들 사이에 균일한 간격을 만들어준다 */
  justify-content: space-between;
}

/* .logo 클래스를 가진 img 태그의 스타일 */
header img.logo {
  width: 70px;
  cursor: pointer;
}

header button.download-btn {
  background-color: #ec702e;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

header nav a {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.main {
  display: grid;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.current-location {
  display: inline-flex;
  justify-content: center;
  background: #3a3d45;
  border-radius: 999px;
  padding: 8px 10px;
  white-space: nowrap;
}

.current-location img {
  background: transparent;
  margin-right: 2px;
  /* width: 15px; */
}

.current-location p {
  font-size: 1rem;
}

.main #search {
  /* inline-flex = 외부적으로는 글자처럼 취급되지만 내부적으로는 flex 취급 */
  display: inline-flex;
  width: 100%;
  align-items: center;
  position: relative;
  border: #3a3d45 1px solid;
  border-radius: 999px;
  padding: 5px 10px;
}

form {
  /* 이를 위해서는 부모요소의 width를 100%로 지정해야 함 */
  width: 100%;
  /* 검색창의 요소들 중앙 정렬시키기 */
  display: flex;
  align-items: center;
}

form input {
  /* width: 90%;와 같은 고정수치 대신 사용하기*/
  /* Label과 Img가 쓰고 남은 공간 전부 사용하라는 뜻 
  이를 위해서는 부모요소의 width를 100%로 지정해야 함*/
  flex: 1;

  padding: 5px 10px;
  border: 0;
  background: transparent;
  margin: 0 10px;
  color: #fff;
}

form label {
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

form .arrow-down {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  width: 25px;
}

form .search-arrow {
  background-color: white;
  border-radius: 50%;
  width: 30px;
}

.popular-items {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  white-space: nowrap;
  margin-top: 15px;
}

.popular-items h4 {
  color: #99999a;
  font-size: 0.85rem;
  font-weight: 600;
}

.popular-items p {
  color: #cecece;
  font-size: 0.8rem;
}

.title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.title h3 {
  font-size: 25px;
}

#main-content {
  /* 세로열을 기준으로 2개로 영역 나누기 */
  display: grid;
  grid-template-columns: 300px 1fr;
}

.filter-menu {
  font-weight: 600;
}

.filter-menu input,
label,
.price a {
  font-weight: 300;
}

.filter-menu h3 {
  display: inline-flex;
  margin-right: 150px;
}

.filter-menu a {
  color: #99999a;
  font-size: 0.85rem;
}

.filter-menu .available {
  margin: 30px 0;
}

.filter-menu li {
  margin: 10px 0;
  list-style: none;
}

.filter-menu .location,
.category,
.price {
  margin: 40px 0;
}

.filter-menu .price .check-list a {
  text-decoration: none;
  color: #fff;
  border: #3a3d45 1px solid;
  border-radius: 999px;
  padding: 5px;
}

.filter-menu .price li {
  margin-bottom: 20px;
}

.price .price-range {
  display: flex;
}

.price .price-range input {
  width: 100px;
  padding: 5px 12px;
  margin: 0 5px;
  background-color: #000;
  border: #3a3d45 1px solid;
  border-radius: 6px;
}

#item-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;

  /* div.item-card의 크기가 세로로 길게 늘어나 있었음 */
  /* -> grid 구조인데 왼쪽의 필터 메뉴의 길이에 맞춰서 강제로 길어지게 됨 */
  /* 늘어난 공간을 억지로 채우지 말고, 위에서부터 차례차례 쌓이도록 하기 */

  /* grid의 행들이 컨테이너의 남는 높이를 채우려 늘어나지 않고 위쪽부터 차례차례 붙게 */
  align-content: start;
  /* 같은 행에 있는 카드들끼리도 제목 길이가 다르다고 해서 높이가 강제로 늘어나지 않게 잡아줌 */
  align-items: start;
}

.item-card {
  width: 100%;
}

#item-board .item-card a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.item-card .card-img img {
  border: 0;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / 1; /* 이미지를 1:1 정사각형 비율로 고정 */
  object-fit: cover; /* 이미지가 찌그러지지 않고 꽉 차게 설정 */
}

.item-card .card-desc {
  margin-top: 12px;
}

.item-card .item-name {
  font-size: 0.95rem;
  color: #fff;
  /* 글자가 길어지면 한 줄로 자르고 ... */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-card .item-price {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 5px;
}

.item-card .loca-time {
  font-size: 0.8rem;
  color: #99999a;
  margin-top: 5px;
}
