@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  color: #fff;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 40px 0;
}

header img {
  width: 70px;
  cursor: pointer;
}

header button {
  color: #fff;
  font-weight: 500;
  background: #f78a22;
  border: 0;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.content h2 {
  font-size: 40px;
  margin-bottom: 100px;
}

.search-items {
  display: flex;
  align-items: center;
  width: 800px;
  border: #4c4b4b 2px solid;
  /* 아주 큰 픽셀 값 혹은 높이의 절반보다 큰 값으로 곡률 최대로 설정 */
  border-radius: 999px;
  padding: 5px 10px;
}

.search-items input {
  width: 100%;
  border: 0;
  padding: 10px;
  /* outline: none; */
}

.search-items img {
  background-color: #fff;
  width: 30px;
  border: 0;
  border-radius: 50%;
}

.search-items p {
  color: #9c9c9c;
  font-size: 15px;
}

.popular-items {
  display: flex;
}

.popular-items p {
  color: #9c9c9c;
}

.menu-items {
  /* display: grid;
  width:800px;
  height: 200px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; */
  /* 너비는 자동으로 4등분 */
  /* 균일하게 1:1:1:1인 column을 4개 만든다는 의미 */
  

  display: flex;
  /* 공간이 부족하면 다음 줄로 넘기기 */
  flex-wrap: wrap;
  margin: 100px auto;
}

.items {
  background-color: #4c4b4b;
  width:100px;
  height:100px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.items img {
  background-color: transparent;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.items p {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  left: 12px;
}

.location {
  display: flex;
  /* 공간이 부족하면 다음 줄로 넘기기, 기본값 = nowrap */
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
  /* 너무 늘어지지 않도록 최대 너비를 지정 */
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.location p {
  background-color: #4c4b4b;
  border-radius: 999px;
  padding: 10px 18px;
  /* 4. 박스가 찌그러지는 것을 방지 (가장 중요한 부분!) */
  flex-shrink: 0;
  /* 5. 글자가 박스 안에서 줄바꿈되지 않게 고정 */
  white-space: nowrap;
  cursor: pointer;
}

footer {
  margin: 0 40px 40px;
  display: flex;
}

footer > img {
  display: flex;
  width: 50px;
  margin-left: 5px;
  align-items: center;
}

footer .contact {
  display: flex;
  gap: 5px;
  place-items: center;
}

footer .contact img {
  width: 25px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
}

.features {
  display: flex;
  gap: 50px;
}

.features p {
  font-weight: 600;
}

.features a {
  display: block;
  text-decoration: none;
  color: #fff;
}
