@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  color: #fff;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 350px;
}

header img {
  width: 70px;
  cursor: pointer;
}

header button {
  color: #fff;
  font-weight: 600;
  background: #ec702e;
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

/* 버튼 위에 마우스를 올렸을 때의 효과 지정하기 */
header button:hover {
  background-color: #f4a357;
  transition: all 0.3s;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.content h2 {
  font-size: 40px;
  margin-bottom: 70px;
}

.search-items {
  display: flex;
  align-items: center;
  /* 고정된 수치값보다는 %를 사용하고 최대 너비값을 지정한다 */
  width: 90%;
  max-width: 700px;
  border: #4c4b4b 1px solid;
  /* 아주 큰 픽셀 값 혹은 높이의 절반보다 큰 값으로 곡률 최대로 설정 */
  border-radius: 999px;
  padding: 5px 15px;
}

.dropdown {
  position: relative;
  display: flex;
  cursor: pointer;
  border-right: solid #4c4b4b 1px;
}

.dropdown .drop-btn {
  display: flex;
  place-items: center;
  width: 10%;
  white-space: nowrap;
}

.drop-btn-content {
  display: none; /* 일단 숨김 */
  position: absolute; /* 공중에 띄우기 (이게 핵심!) */
  top: 40px; /* 검색창 바로 아래에 위치하도록 조절 */
  left: 0;
  width: 100%; /* 메뉴판 너비 */
  background-color: #3e3e42; /* 어두운 배경색 */
  border-radius: 18px;
  list-style: none;
  z-index: 10; /* 다른 요소들보다 맨 위에 보이게 */
}

.search-items .drop-btn p {
  margin-left: 10px;
  color: #fff;
  font-size: 1rem;
  /* 글자가 줄바꿈되지 않게 */
  white-space: nowrap;
}
.search-items .drop-btn img {
  background: transparent;
  width: 40px;
}

.search-items input {
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 0;
  color: #fff;
  outline: none;
}

.search-items button {
  border: 0;
  cursor: pointer;
}
.search-items img {
  background-color: #ffffffeb;
  width: 30px;
  border: 0;
  border-radius: 50%;
}

.popular-items {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 700px;
  margin: 10px 40px 0;
}

.popular-items h4 {
  color: #9c9c9c;
  margin-right: 10px;
  white-space: nowrap;
}

.popular-items p {
  color: #cccccc;
  cursor: pointer;
  padding: 0 3px;
  /* 글자가 줄바꿈 되지 않게 하기 */
  white-space: nowrap;
}

.menu-items {
  display: grid;
  /* 고정된 수치 ex) width: 800px 보다는 %를 사용하고
  최대 크기를 제한하는 방식을 사용한다 */
  width: 100%;
  max-width: 800px;
  /* 너비는 자동으로 4등분 */
  /* 균일하게 1:1:1:1인 column을 4개 만든다는 의미 */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 40px 40px;
}

.items {
  background-color: #3a3d45;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 12px;
  cursor: pointer;
}

.items:hover {
  background-color: #838385;
  transition: all 0.3s;
}

.items img {
  background-color: transparent;
  width: 30px;
  top: 10px;
  left: 10px;
  /* position이 absolute이면 부모는 자식의 크기를 계산할 수 없게 된다 */
}

.items p {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  bottom: 10px;
  left: 12px;
}

.location {
  display: flex;
  /* 공간이 부족하면 다음 줄로 넘기기, 기본값 = nowrap */
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
  /* 너무 늘어지지 않도록 최대 너비를 지정 */
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.location p {
  background-color: #3a3d45;
  border-radius: 999px;
  padding: 10px 18px;
  /* 4. 박스가 찌그러지는 것을 방지 (가장 중요한 부분!) */
  flex-shrink: 0;
  /* 5. 글자가 박스 안에서 줄바꿈되지 않게 고정 */
  white-space: nowrap;
  cursor: pointer;
}

.location p:hover {
  background-color: #838385;
  transition: all 0.3s;
}

footer {
  display: flex;
  /* 양 쪽으로 간격 띄우기 */
  justify-content: space-between;
  margin: 200px 350px 50px;
}

footer .footer-images {
  margin-right: 40%;
}

footer .footer-images > img {
  width: 50px;
  margin-left: 5px;
}

footer .contact {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

footer .contact img {
  width: 25px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
}

footer .features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

footer .features .col p,
a {
  white-space: nowrap;
}

.features p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.features a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
  padding: 2px 0;
  margin-bottom: 3px;
}

.more-info {
  margin: 100px 350px;
  display: flex;
  flex-direction: column;
  border-top: #4c4b4b 1px solid;
  color: #9c9c9c;
  font-size: 0.85rem;
}

.more-info .info1 {
  margin: 2% 0;
}

.more-info .info2 {
  display: flex;
  gap: 20px;
}

.more-info .info2 a {
  color: #9c9c9c;

  font-weight: 600;

  text-decoration: none;
}
